.list-con{
    padding-left: 0px;
    list-style-type: none;
    color : #ffffff;
}

.list-item{
    border-bottom: 1px solid gray;
    text-align: left;
    border : 0px;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 10px;
}

.list-item:hover{
    background-color: blueviolet;
    color: #ffffff;
}

.sidebar-con{
    width: 20%;
    background-color: #16113A;
    text-align: left;
    /* padding: 10px; */
    /* backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5); */
}

.hr-line{
    border-color: #ffffff;
}

.logo{
    margin-bottom:20px;
    width: 20px;
}

.selected{
    background-color: blueviolet;
    border-radius: 10px;
}

.link-item{
    text-decoration: none;
}